
*.tlog
*/tmp/*.obj
*.idb
*.log
*.pdb
*.db
*.suo
*.opendb
*.ilk
*.exe
AcmenEngine/Library/AcmenCommon.lib
*.obj
*.class
AcmenEngine/Mobile/Android/bin/*
AcmenEngine/Mobile/Android/gen/*
AcmenEngine/Project/NDK/obj/*
*.enc
AcmenEngine/Library/*
AcmenEngine/Library/LuaScript.lib
AcmenEngine/Output/Sample.exp
AcmenEngine/Library/Common.lib
AcmenEngine/Dependencies/lib/assimpd.lib
AcmenEngine/Output/Sample.lib
AcmenEngine/Library/LuaScript.lib
AcmenEngine/Library/Common.lib
AcmenEngine/Library/LuaScript.lib
*.sdf
