
*.tlog
*/tmp/*.obj
*.idb
*.log
*.pdb
*.db
*.suo
*.opendb
*.ilk
*.exe
AcmenEngine/Library/AcmenCommon.lib
*.obj
*.class
AcmenEngine/Mobile/Android/bin/*
AcmenEngine/Mobile/Android/gen/*
AcmenEngine/Project/NDK/obj/*
*.enc
